@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
}
#logo{
    width: 600px;
    margin-top: 5%;
    display: none;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
    border-radius: 10px;
}
#logo1{
  width: 1000px;
  border-radius: 10px;
  margin-top: 5%;
  display: none;
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
}
h1{
    color: aliceblue;
    /* font-family: ; */
    font-size: 30px;
}
#name{
    color: red;
    font-size: 45px;
}
#va{
    color: blue;
    font-size: 45px;
}
#main{
    width: 150px;
    display: none;
}
#btn{
    /* width: 400px; */
    position: absolute;

  

    /* background: linear-gradient(to right,red,blue); */
    padding: 10px 20px;
    display: flex;/*why???? ====> svg img bhi hai na...*/
    align-items: center;
    justify-content: center; 
    font-family: "Josefin Sans", sans-serif;
    font-weight: 900;
    gap: 10px;
    font-size: 60px;
    margin-top: -300px;
    border-radius: 5px;
    color: rgb(20, 105, 179);
    box-shadow: 2px 2px 10px rgb(255, 255, 255);
    border: none;/*accha button ka border htadia*/
    cursor: pointer;
    transition: 0.5s all;

}
#btn:hover{
  /* width: 500px; */
    box-shadow:10px 10px 50px rgb(20, 105, 179);
    letter-spacing: 2px; /*okay okayyyy*/
}
#btn img{
    width: 30px;
}
* {
    padding: 0;
    margin: 0;
  }
  
  body {
    /* background-color: #171717;
    color: #2187e7; */
    background-image: url('wp13917731-tony-stark-house-wallpapers copy.jpg');
  }
  
  #main {
    margin-top:10% ;
    display: table;
    height: 100vh;
    width: 100%;
  }
  
  #myCircle {
    display: table-cell;
    /* vertical-align: middle; */
  }
  
  #mainCircle {
    position: relative;
    max-width: 300px; /* <<<<<< Change this to resize everything */
    max-height: 300px;
    margin: auto;
  }
  
  #mainText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ccc;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    animation: fade 1s infinite linear;
    z-index: 2;
    pointer-events: none;
  }
  
  .circle {
    background-color: transparent;
    border: 5px solid rgba(0, 183, 229, 0.9); 
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 75px #2187e7;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    animation: spinPulse 2s infinite ease-in-out;
  }
  
  .circle1 {
    background-color: transparent;
    border: 5px solid rgba(0, 183, 229, 0.9);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 100px #2187e7;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: spinoffPulse 4s infinite linear;
    z-index: 1;
  }
  
  /* Animations */
  @keyframes spinPulse {
    0% {
      transform: scale(1.1);
    }
    70% {
      transform: scale(0.98);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @keyframes spinoffPulse {
    0% {
      transform: rotate(0deg) scale(1);
    }
    10% {
      transform: rotate(90deg);
    }
    20% {
      transform: rotate(-90deg) scale(1.05);
    }
    40% {
      transform: rotate(180deg) scale(0.9);
    }
    70% {
      transform: rotate(-180deg) scale(1.05);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  
  @keyframes fade {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes pulseLoop {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
  }
  #btn {
    animation: pulseLoop 1.2s infinite ease-in-out;
  }